body {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper--alert-alert {
    position: absolute;
    top: 0 !important;
    min-width: 200px !important;
    z-index: 999;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}