{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if user.role == 'reader' %}
<div class="container mt-5">
    {% include 'includes/title_catalog.html' %}

    <div class="row">
        {% for book in catalog_books %}
        <div class="col-md-4 {% if book.id in all_read_books %} CustomBookTaken {% endif %}">
            <div class="card mb-4 shadow-sm">
                <img src="{{ book.picture.url }}" class="card-img-top" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title" id="book-title-{{ book.id }}">
                        {{ book.title }}
                        <i class="fas fa-copy copy-icon" onclick="copyTitle('{{ book.id }}')" title="Копировать заголовок" style="cursor: pointer; margin-left: 8px;"></i>
                        <span id="copy-notification-{{ book.id }}" class="copy-notification text-success" style="display:none; margin-left: 8px; font-size: 12px;">cкопировано</span>
                    </h5>
                    <p class="card-text">{{ book.author }}</p>
                    <p><small class="text-muted">{{ book.genre }}</small></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            {% if book.id not in all_read_books %}
                                <a href="{% url 'add_book' book.id %}" class="btn btn-sm btn-outline-primary">Взять книгу</a>
                            {% else %}
                                <button class="btn btn-sm btn-outline-secondary" disabled>Взята</button>
                            {% endif %}
                        </div>
                        <small class="text-muted">{{ book.date_of_receipt }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<script src="{% static 'js/copy_title_books.js' %}"></script>
{% endblock %}
